.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
margin: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
 }

 .section {
    padding-top: 94px;

}